<div class="slider">
    <button id="prev" class="slider-btn" (click)="handleScrollPrev()">
        <!-- <i class="fa-solid fa-chevron-left"></i> -->
        <fa-icon [icon]="faChevronLeft"></fa-icon>
    </button>
    <div class="card-content" #cards>
        <!--**************** Product Card ************************-->
        @for (item of products; track $index) {
        <div class="slider-card card">
            <div class="position-relative">
                <img src="{{ item.media }}" class="card-img-top" alt="..." />
                <button class="add-to-cart-btn">Add To Cart</button>
                <div class="fav-watch">
                    <p class="fav">
                        <!-- <i class="fa-regular fa-heart"></i> -->
                        <fa-icon [icon]="faHeart"></fa-icon>
                    </p>
                    <p class="watch">
                        <!-- <i class="fa-regular fa-eye"></i> -->
                        <fa-icon [icon]="faCartShopping"></fa-icon>
                    </p>
                </div>
            </div>
            <div class="card-body">
                <h5 class="sale-percentage">-50%</h5>
                <h4 class="card-title">{{ item.name }}</h4>
                <p class="card-text"></p>
                <h6 class="new-price d-inline-block">{{ item.price / 2 }}</h6>
                <h6
                    class="old-price d-inline-block ms-3 text-decoration-line-through"
                >
                    {{ item.price }} L.E
                </h6>
                <p class="rate m-0">
                    <fa-icon class="star" [icon]="faStar"></fa-icon>
                    <fa-icon class="star" [icon]="faStar"></fa-icon>
                    <fa-icon class="star" [icon]="faStar"></fa-icon>
                    <fa-icon class="star" [icon]="faStar"></fa-icon>
                    <fa-icon class="star" [icon]="faStarHalfStroke"></fa-icon>
                    <span>(70)</span>
                </p>
            </div>
        </div>

        }
    </div>
    <button id="next" class="slider-btn" (click)="handleScrollNext()">
        <!-- <i class="fa-solid fa-chevron-right"></i> -->
        <fa-icon [icon]="faChevronRight"></fa-icon>
    </button>
</div>
